<div class="container">
  <h2>Cosmetics List</h2>
    <div>
      <%= link_to cosmetic_path(cosmetic.id) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "150x150" %>
        <% else %>
          <%= image_tag 'no_image', size: "150x150" %>
        <% end %>
        <% end %>
    </div>
</div>