<div class="container">
  <div class="row">
    <h2 class="table-active">検索結果 "<%= @keyword %>"</h2>
  </div>
    <ul>
      <% @cosmetics.each do |cosmetic| %>
        <div>
          <%= link_to cosmetic_path(cosmetic.id) do %>
            <%= image_tag cosmetic.image,width:"200" if cosmetic.image.attached? %>
          <% end %>
        </div>
      <% end %>
    </ul>
</div>