<div class="container">
  <h2>Cosmetic</h2>
        
    <td>
      <% if @cosmetic.image.attached? %>
        <%= image_tag @cosmetic.image, size: "350x350" %>
      <% else %>
        <%= image_tag 'no_image', size: "350x350" %>
      <% end %>
    </td>
    
    <div><%= @cosmetic.text %></div>
  
</div>
