<div class="container">
  <div class="row">
    <h2 class="table-active">About</h2><br />
  </div>
  
    <div class="row">
      <div class="mx-auto text-center">
        <div>美容師目線から見た、お勧めできるヘアコスメのレビューサイトです。</div>
        <div>美容師としての経験を活かし、ヘアコスメの紹介・新商品や流行商品の紹介</div>
        <div>使用方法やどんな髪質に合うかなどヘアスタイル写真を使用し、</div>
        <div>お客様がイメージしやすい内容で商品をレビュー・ご紹介致します。</div>
      </div>
    </div>
  
</div>