<h1>会員トップ</h1>

<div class="container">
<div class="row">
    <div class="mx-auto">
        <%= link_to 'I HAIRとは',about_path %>
        
        <%= link_to 'REVIEW LIST',about_path %>
        
        <%= link_to 'MY PAGE',mypage_customer_path %>
    </div>
</div>
</div>

