<div class="container">
<div class="row">

<h5 class="table-active">会員一覧</h5>


<table class="table">
  <thead>
    <tr>
      <th class="table-active">会員ID</th>
      <th class="table-active">氏名</th>
      <th class="table-active">メールアドレス</th>
      <th class="table-active">ステータス</th>
    </tr>
  </thead>

  <% @customers.each do |customer| %>

  <tbody>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.name,admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted == false %>
        有効
        <% else %>
        退会
        <% end %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
</div>
</div>