<div class="container">
  <h2>Cosmetics Reviews</h2>
  
    <%= form_with model: @review,url: '/reviews', method: :post do |f| %>
        
    <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
        
    <h4>コメント</h4>
        <%= f.text_area :introduction %>
        
        
        <%= f.submit '投稿する', class: "btn btn-success" %>
        
    <% end %>

</div>